h1
{
    color: orangered;
    text-align: center;
    }
body{

    background-image:url("./pic.gif");
    /* background-position: center; */
    background-repeat:no-repeat;
    background-size: cover;
}

.md{
    width: 100%;
    height: 80%;
}
.start{
    margin-top: 250px;
}