body{
    /* background-color: gray; */
    font-family:serif;
}
h1{
    /* color: chartreuse; */
    text-align: center;
}
/* .miancontainer{
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    background-color: white;
} */

.contact{
    padding: 10px;
    background-color: rgb(196, 194, 194);
    border-radius: 15px;
    font-size: 25px ;    
}
div input{
    background-color: rgb(196, 194, 194);
    border: none;
}
.emailphone{
    width: 47.5%;
    /* width: 45%; */
    display: inline-block;
    /* margin-right: 1.80%; */
}
div select{
    background-color: rgb(196, 194, 194);
    border: none;
    margin-top: 3px;
}
div{
    margin-top: 20px;
}
div textarea{
    border: none;
    background-color: rgb(211, 208, 208);}
    
div .textarea
    {
    padding: 10px;
    background-color: rgb(211, 208, 208);
    margin-left: 5px;
    font-size: 25px;
    }
.submit{
    font-size: 25px;
    padding: 4px;
    font-weight: 800;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 15px;
    height: auto;
    cursor: pointer;
}
.contact select{
    width: 100%;
}

/* @media screen and (max-width: 600px){
    h1{
        color: violet;
    }
} */

@media screen and (max-width: 600px){

.emailphone{
    width:97%;
    display: block;
}

/* @media screen and (max-width: 600px){
div .textarea{
    width: 97%;

} */