body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#000;
}
.heading {
    color: #fff;
}
.data{
    color:#808080;
}   
.icons{
    color: #90cc90;
    font-size: 20px;
    text-align-last: left;
    
}
h1 {
    font-size: 50px;
    color: #fff}    
.left{
    background-image: url(../niko.jpg);
height: 600px;
width: 400px;
padding: 10px;
display: flex;
align-items:flex-end;
float: left;
margin: 0px;
border: 1px black;
text-align:right;
background-size: cover;
position: fixed ; 
}
.right{
    padding: 50px;
    float: right;
    width: 50%;
    margin: auto;
}